@tailwind base;
@tailwind components;
@tailwind utilities;


input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */


.file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto ;
  width: 100%;
  height: 293px;
  border: 1px dashed #000;
  opacity: 0.5;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f3f3f3;
  transition: linear 0.2s;

}

.file:hover{
  background-color: #e3e3e3;

}

*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
